python-dotenv
langchain_google_genai
langchain_community
ipykernel
bs4
arxivloader
pymupdf
langchain-text-splitters
notebook
jupyter
langchain-ollama
langchain_huggingface
sentence-transformers
faiss-cpu
streamlit
langchain_groq
langchain_huggingface
unstructured
huggingface_hub
langserve
sse_starlette
pydantic
uvicorn
duckduckgo-search
tenacity
passlib[bcrypt]
python-jose
transformers
pypdf2
langchain_nvidia_ai_endpoints
crewai
crewai_tools
tools