python-dotenv
langchain_google_genai
langchain_community
ipykernel
bs4
arxivloader
pymupdf
arxiv
wikipedia
langchain-text-splitters
chromadb
notebook
jupyter
langchain-ollama
langchain_huggingface
sentence-transformers
faiss-cpu
langchain_chroma