greenlet==3.2.3
python-dotenv
langchain_google_genai
langchain_community
validators
unstructured
fastapi
langserve
pydantic
uvicorn
crewai
crewai_tools
requests
imgkit
pyppeteer
webdriver-manager
selenium
playwright
pyflowchart
datetime
crewai[google-genai]