python-dotenv
langchain_google_genai
langchain_community
ipykernel
bs4
arxivloader
pymupdf
arxiv
wikipedia
langchain-text-splitters
chromadb
notebook
jupyter
langchain-ollama
langchain_huggingface
sentence-transformers
faiss-cpu
langchain_chroma
streamlit
langchain_huggingface
duckdb
pandas
mysql-connector-python
SQLAlchemy
validators
unstructured
pytube
numexpr
sse_starlette
pydantic
uvicorn
tenacity
passlib[bcrypt]
python-jose
transformers
youtube-transcript-api==1.2.2
yt_dlp==2023.11.14