python-dotenv
langchain_google_genai
langchain_community
ipykernel
sentence-transformers
faiss-cpu
streamlit
langchain_huggingface
mysql-connector-python
SQLAlchemy
validators
numexpr
fastapi
langserve
sse_starlette
pydantic
uvicorn
tenacity
pymongo
sqlalchemy
pymysql
passlib[bcrypt]
python-jose
transformers
python-multipart
crewai
crewai_tools
tools